
$font-serif: Avenir, Helvetica Neue, Hiragino Sans GB, Microsoft Yahei, sans-serif;

@import "normalize";
html {
  box-sizing: border-box;
  height: 100%;
}
*, *::after, *::before {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 { font-weight: 400; }
img { vertical-align: middle; }

body {
	font: 14px/1.5 $font-serif;
	color: #34495e;

	display: flex;
	flex-direction: column;
	min-height: 100%;
}

#page {
	padding: 0 15px;
	
	max-width: 750px;
	margin: 0 auto;

	flex: 1;

	&.fullwidth {
		max-width: none;
		width: 100%;
	}
}
.page-header {
	text-align: center;
}
.page-back {
	text-align: right;
	line-height: 1.8;
}
.browser-support {
	text-align: center; line-height: 2;
}
#footer { line-height: 2; text-align: center; }

.text-center {
	text-align: center;
}
